.task_list_container {
    min-height: 100dvh;
    max-height: 100dvh;
    display: grid;
    grid-template-rows: 45px 1fr 45px;
    border-right: 1px solid black;
}

.task_list_header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
}

.task_list_card_container {
    overflow-y: auto;
}
