.data_home_container {
    display: grid;
    grid-template-columns: 300px 300px auto;
}

.team_filter_container {
    min-height: 100dvh;
    max-height: 100dvh;
    border-right: 1px solid black;
}

.squad_filter_container {
    min-height: 100dvh;
    max-height: 100dvh;
    border-right: 1px solid black;
}
